<div class="wishlist container mt-5 mb-5">
  <div class="head">
    <h3>Wishlist ({{ cards.length }})</h3>
    <button (click)="moveAllToBag()">Move All To Bag</button>
    <button (click)="clearWishlist()">Clear Wishlist</button>
  </div>

  <!-- المنتجات بتاعة الـ Wishlist -->
  <div class="wish mb-5">
    <ng-container *ngFor="let card of cards">
      <div class="product-item">
        <app-card-one
          [product]="card"
          [iconone]="false"
          [icontwo]="false"
          [stars]="false"
          (toggleWishlist)="toggleWishlist(card)"
          (removeproductfromeishlist)="removeProductFromWishlist(card)"
        ></app-card-one>
        <button
          class="remove-icon"
          (click)="removeProductFromWishlist(card.id)"
        >
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </ng-container>
  </div>

  <!-- عنوان الـ Just For You -->
  <div class="wish spicialhesd">
    <p>Just For You</p>
  </div>

  <!-- المنتجات العشوائية اللي جت من الجلوبال -->
  <div class="wish">
    <ng-container *ngFor="let product of randomProducts">
      <div class="product-item">
        <app-card-one
          [product]="product"
          [discountFlag]="true"
          [iconone]="false"
          [icontwo]="true"
          [delprice]="false"
        ></app-card-one>
      </div>
    </ng-container>
  </div>
</div>
