<div class="container">
    <div class="row hero-section" [ngClass]="{'reverse-layout': isMobile}">

    <div class="col-md-6 text-content">

        <p class="text-success fs-4">Categories</p>

        <h3 class="fw-bold text-white Enhance display-3">Enhance Your<br>Music Experience</h3>

        <div class="countdown">

            <div>{{ days }}<br>Days</div>

            <div>{{ hours }}<br>Hours</div>

            <div>{{ minutes }}<br>Minutes</div>

            <div>{{ seconds }}<br>Seconds</div>

        </div>

        <a href="#" class="btn btn-custom">Buy Now!</a>

    </div>

    <div class="col-md-6 text-center">

        <div class="img-container">

            <div class="img-background"></div>

            <img src="JBL_BOOMBOX_2_HERO_020_x1 (1) 1.png" alt="Speaker" class="img-fluid">

        </div>

    </div>

</div>

</div>