<div class="contact container">
  <div class="head">
    <a class="text-decoration-none" href=""><h5 class="text-secondary">Home / Contact</h5></a>
  </div>

  <div class="flex">
    <div class="callUs shadow p-3 mb-5 rounded">
      <p class="mt-4 fw-bold"><i class="fa-solid fa-phone"></i> Cll To Us</p>
      <p class="text-secondary mb-5">
        We are available 24/7, 7 days a week.<br /><br>
        Phone: +8801611112222
      </p>
      <hr class="mb-4" />

      <p class="fw-bold"><i class="fa-solid fa-envelope"></i> Write To US</p>
      <p class="text-secondary ">
        Fill out our form and we will contact<br />
        you within 24 hours.<br /><br>
        Emails: customer&#64;exclusive.com<br />
      </p>
    </div>

    <div class="contact-form mx-auto shadow p-3 mb-5 pt-5 rounded">
        <div class="row g-3">
            <div class="col-md-4 ">
                <input type="text" class="form-control" placeholder="Your Name  ">
            </div>
            <div class="col-md-4 ">
                <input type="email" class="form-control" placeholder="Your Email ">
            </div>
            <div class="col-md-4 ">
                <input type="text" class="form-control" placeholder="Your Phone ">
            </div>
            <div class=" col-12 mt-3 mb-2">
                <textarea class="form-control" rows="8" placeholder="Your Message"></textarea>
            </div>
            <div class="col-12 text-end">
                <button class="btn btn-submit ">Send Message</button>
            </div>
        </div>
    </div>
  </div>

</div>
