<div class="container">
  <div class="image-section"></div>

  <div class="form-section">
    <h2>Create an account</h2>
    <p>Enter your details below</p>

   <div *ngIf="message" [style.color]="messageColor" style="margin-bottom: 10px; font-weight: bold; display: flex; align-items: center;">
  <span *ngIf="messageColor === 'green'" style="margin-right: 8px;">✅</span>
  <span *ngIf="messageColor === 'red'" style="margin-right: 8px;">❌</span>
  {{ message }}
</div>

    <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
      <input
        type="text"
        placeholder="Name"
        name="name"
        [(ngModel)]="signupData.name"
        required
      />
      <input
        type="email"
        placeholder="Email or Phone Number"
        name="email"
        [(ngModel)]="signupData.email"
        required
      />
      <input
        type="password"
        placeholder="Password"
        name="password"
        [(ngModel)]="signupData.password"
        required
      />

      <button type="submit" class="create-account">Create Account</button>

    </form>

    <p class="login-text">
      Already have an account? <a routerLink="/login">Log in</a>
    </p>
  </div>
</div>
