<div class="container">
  <div class="image-section"></div>

  <div class="form-section">
    <h2>Log in to Exclusive</h2>
    <p>Enter your details below</p>

    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <input
        type="email"
        placeholder="Email or Phone Number"
        name="email"
        [(ngModel)]="loginData.email"
        required
      />

      <input
        type="password"
        placeholder="Password"
        name="password"
        [(ngModel)]="loginData.password"
        required
      />

      <div class="buttons">
        <button type="submit" class="login-btn">Log In</button>
      </div>
    </form>
  </div>
</div>
